Youtube-Automation.json
{
  "name": "Youtube-Automation",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Mohnish. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        0
      ],
      "id": "a9aad824-cf1b-4fb8-b7a0-e40fecb57917",
      "name": "When chat message received",
      "webhookId": "c7d2765d-a1ff-46a2-bbbf-4ffd5bddb286"
    },
    {
      "parameters": {
        "resource": "video",
        "returnAll": true,
        "filters": {
          "publishedAfter": "={{ new Date().toISOString()\n }}",
          "q": "={{ $json.chatInput }}",
          "regionCode": "US"
        },
        "options": {
          "order": "relevance",
          "safeSearch": "moderate"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -260,
        0
      ],
      "id": "c84feb92-6d49-4929-8f1f-cd56f1906cb2",
      "name": "Get many videos",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "plZdqUwwLTPNIVnt",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos?",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.N8N_YOUTUBE_V3_API_KEY }}"
            },
            {
              "name": "part",
              "value": "contentDetails, snippet, statistics"
            },
            {
              "name": "id",
              "value": "={{ $json.id.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        0
      ],
      "id": "88219b24-78a8-4544-9fdc-e947c68878a4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json);\n\nconst processedItems = items.map((item) => {\n  const views = Number(item.items[0].statistics.viewCount || 0);\n  const likes = Number(item.items[0].statistics.likeCount || 0);\n  const comments = Number(item.items[0].statistics.commentCount || 0);\n\n  const likeRatio = views > 0 ? (likes / views) * 100 : 0;\n  const commentRatio = views > 0 ? (comments / views) * 100 : 0;\n\n  const title = item.items[0].snippet.title || \"\";\n  const videoId = item.items[0].id || \"\";\n  const youtubeUrl = `https://www.youtube.com/watch?v=${videoId}`;\n\n  return {\n    title,\n    youtubeUrl,\n    likeRatio,\n    commentRatio,\n  };\n});\n\nreturn processedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        0
      ],
      "id": "7312913d-51a6-4fcb-82f0-2e881f3f4aff",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "01985aaf-e4a6-493a-b691-f05e3bba8bd2",
              "leftValue": "={{ $json.likeRatio }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "aef31cec-544a-4a51-b141-6fa31ca5b2fb",
              "leftValue": "={{ $json.commentRatio }}",
              "rightValue": 0.3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "92c4e564-e7e0-4cc3-a9d6-aee7dce28a6e",
              "leftValue": "={{ $('HTTP Request').item.json.items[0].statistics.viewCount }}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "d5fbad61-cf2a-4dc4-84ac-98a0747d1f54",
              "leftValue": "={{ $json.title }}",
              "rightValue": "crypto",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "882ff82b-8eb7-48f6-8225-5ee0e437fb93",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        620,
        -100
      ],
      "id": "69728779-628e-402b-a0d1-31122df4e19b",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Your job is to verify if the title is in English or not.  Respond with 1 word answers. \"Yes\" for titles in English. \"No\" for titles not in English."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        840,
        -100
      ],
      "id": "a39bbfc8-68db-4d3c-af57-10ef97d8bffa",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        840,
        120
      ],
      "id": "b03ad0a2-69bb-4ea2-94f0-764c4ce2d9f5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "28zoCQFAcHs8ItMC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"Answer\" : \"'Yes' or 'No'\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1000,
        120
      ],
      "id": "b701b6ee-2d5e-4b15-8851-81bb46b18a20",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "913afa7e-90e3-43db-bcf2-2995aae04527",
              "leftValue": "={{ $json.output.Answer }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -100
      ],
      "id": "fa1eb953-d168-4067-a7d7-c4f7cfb9c59b",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appZtm5xPRHHFt4xP",
          "mode": "list",
          "cachedResultName": "Youtube-Results",
          "cachedResultUrl": "https://airtable.com/appZtm5xPRHHFt4xP"
        },
        "table": {
          "__rl": true,
          "value": "tblKAlsJISOxIrz5v",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appZtm5xPRHHFt4xP/tblKAlsJISOxIrz5v"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Todo": "={{ $('Remove Duplicates').item.json.title }}",
            "View Score": "={{ $('Remove Duplicates').item.json.likeRatio }}",
            "Comment Score": "={{ $('Remove Duplicates').item.json.commentRatio }}",
            "URL": "={{ $('Remove Duplicates').item.json.youtubeUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Todo",
              "displayName": "Todo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "View Score",
              "displayName": "View Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comment Score",
              "displayName": "Comment Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1420,
        -200
      ],
      "id": "85f7711d-5b8b-4be7-a93f-94c253952366",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "GvGTIO9pLgm3N5go",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6299c79-7c4b-4b28-8cb1-21342ba39382",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd1dbc18d42ffd40c3e51a4bbcdafba48bb9e22eb0768e2cbaf2f90eea429baa"
  },
  "id": "XoSeXrjULz1ux86y",
  "tags": []
}